@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jacquard+24&display=swap");

body {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  min-height: 60rem;
  max-height: 120rem;
  background: linear-gradient(#bed7dc, #f1eedc);
}

.description {
  font-family: "Noto Sans", sans-serif;
  width: 80%;
  font-size: 1.1rem;
  padding: 0 1rem;
}
.contain-desc {
  width: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
img {
  min-width: 25rem;
  width: 50%;
  object-fit: cover;
  border-radius: 30%;
}

.title {
  background-color: #e5ddc5;
  text-align: center;
  border: 3px groove rgba(51, 89, 90, 20%);
  border-radius: 35%;
  padding: 3rem;
  font-family: "Courgette";
  font-style: bold;
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.recipe-name {
  text-align: left;
}

.intro {
  padding: 2rem 0;
  font-family: "Courgette";
  border-top: 2px solid black;
  font-weight: 400;
  text-align: center;
  width: 40%;
  border-bottom: 2px groove black;
  border-radius: 10%;
}
.recipes > a {
  text-align: center;
}
.recipes {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  width: 40%;
  justify-self: center;
  align-items: center;
}

footer {
  display: flex;
  align-self: center;
  text-align: center;
  flex-direction: column-reverse;
  flex-grow: 0;
  position: sticky;
  padding-top: 1rem;
  border-top: 1px solid black;
  margin-top: 1rem;
  font-family: Courgette;
}
a {
  font-family: Courgette;
}
a:visited {
  color: black;
  text-decoration: none;
}
a:link {
  color: black;
  text-decoration: none;
}
a:hover {
  color: #f1eedc;
}

.allcolors {
  background: linear-gradient(#b3c8cf, #bed7dc, #f1eedc, #e5ddc5);
}

.contain-ingrdnts {
  display: flex;
  padding: 1rem 2rem;
  width: 70%;
  flex-direction: row;
  align-items: center;
}

.ingredients, .saus {
  font-family: "Noto Sans", sans-serif;
width: 80%;
font-size: 1.1rem;
padding: 0rem 1rem;
}
.ing-list {
  border: 1px groove black;
  border-radius: 1rem;
  padding: 1rem 0 1rem 2rem;
}

.warm-ings {
  display: flex;
  padding: 3rem 2rem;
  width: 70%;
  flex-direction: row;
  align-items: center;
}

@media (max-width: 65rem) {
  * {
    flex-wrap: nowrap;
  }
  .contain-desc, .contain-ingrdnts, footer {
    align-self: center;
    align-items: center;
    justify-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
}