@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jacquard+24&display=swap');

body {
  display:flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  min-height: 60rem;
  max-height: 120rem;
  background: linear-gradient(#BED7DC, #F1EEDC);
}

.description {
  font-family: 'Noto Sans', sans-serif;
  width: 80%;
  font-size: 1.1rem;
  padding: 0 1rem;
}
.contain-desc {
  width: 70%;
display: flex;
flex-direction: row;
align-items: center;
}
.contain-desc img {
  width: 50%;
  object-fit:cover;
  border-radius: 30%;
}
.title {
  background-color: rgba(51, 89, 90, 10%);
  text-align: center;
  border: 3px groove rgba(51, 89, 90, 20%);
  border-radius: 35%;
  padding: 2rem;
  font-family: 'Courgette';
  font-style: bold;
  font-size: 3rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.recipe-name {
  text-align: left;
}

.intro {
  padding: 1rem 0;
  font-family: 'Courgette';
  border-top: 1px solid black;
  font-weight: 400;
  text-align: center;
  width: 40%;
  border-bottom: 1px solid black;
  border-radius: 10%;
}
.recipes>a {
  text-align: center;
}
.recipes {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  width: 40%;
  justify-self: center;
  align-items: center;
}

footer {
  display: flex;
  align-self: center;
  text-align: center;
  flex-direction: column-reverse;
  flex-grow: 0;
  position: sticky;
  padding-top: 1rem;
  border-top: 1px solid black;
  margin-top: 1rem;
  font-family: Courgette;
}
a {
  font-family: Courgette;
}
a:visited {
  color: black;
  text-decoration: none;
}
a:link {
  color: black;
  text-decoration: none;
}
a:hover {
  color: #F1EEDC;
}